APP_URL=http://localhost:5178
ACCOUNTS_URL=http://localhost:5173
IDP_URL=http://localhost:5173
IDP_CLIENT_ID=sns

RP_SESSION_SECRET=""
IDP_CLIENT_SECRET=""
X_CLIENT_ID=""
X_CLIENT_SECRET=""
GOOGLE_PHOTOS_IMPORT_TOKEN=""
