openapi: 3.0.3
info:
  title: GDG Japan Connpass API
  version: 0.1.0
  description: >
    Async admin automation for connpass groups where the shared bot account is an organizer.
    Authenticate with a GDG Accounts OAuth access token (CLI or agents).
    All connpass reads and writes are performed via Browser Run (no official connpass API).
servers:
  - url: https://connpass.gdgs.jp
paths:
  /api/jobs/{jobId}:
    $ref: ./paths/jobs.yaml
  /api/groups/{groupId}/events:
    $ref: ./paths/group-events.yaml
  /api/groups/{groupId}/events/{eventId}:
    $ref: ./paths/group-event.yaml
  /api/groups/{groupId}/events/{eventId}/publish:
    $ref: ./paths/group-event-publish.yaml
  /api/groups/{groupId}/events/{eventId}/sub-events:
    $ref: ./paths/group-event-sub-events.yaml
  /api/groups/{groupId}/events/{eventId}/sub-events/{subEventId}:
    $ref: ./paths/group-event-sub-event.yaml
  /api/groups/{groupId}/events/{eventId}/survey:
    $ref: ./paths/group-event-survey.yaml
  /api/groups/{groupId}/events/{eventId}/conference:
    $ref: ./paths/group-event-conference.yaml
  /api/admin/session/relogin:
    $ref: ./paths/admin-relogin.yaml
  /api/admin/groups:
    $ref: ./paths/admin-groups.yaml
  /api/admin/groups/{groupId}:
    $ref: ./paths/admin-group.yaml
components:
  schemas:
    $ref: ./components/schemas/index.yaml
  responses:
    BadRequest:
      $ref: ./components/responses/common.yaml#/BadRequest
    Unauthorized:
      $ref: ./components/responses/common.yaml#/Unauthorized
    Forbidden:
      $ref: ./components/responses/common.yaml#/Forbidden
    NotFound:
      $ref: ./components/responses/common.yaml#/NotFound
  parameters:
    GroupId:
      $ref: ./components/parameters/common.yaml#/GroupId
    EventId:
      $ref: ./components/parameters/common.yaml#/EventId
    SubEventId:
      $ref: ./components/parameters/common.yaml#/SubEventId
  securitySchemes:
    $ref: ./components/securitySchemes/auth.yaml
