openapi: 3.0.3
info:
  title: GDG Japan Wiki CLI API
  version: 1.0.0
  description: Token-authenticated Wiki snapshot, synchronization, and attachment APIs.
  license:
    name: Proprietary
    url: https://gdgs.jp
servers:
  - url: https://wiki.gdgs.jp
paths:
  /api/cli/wiki/snapshot:
    $ref: ./paths/snapshot.yaml
  /api/cli/wiki/sync:
    $ref: ./paths/sync.yaml
  /api/cli/wiki/attachments/{attachmentId}:
    $ref: ./paths/attachments.yaml
  /api/cli/wiki/sources:
    $ref: ./paths/sources.yaml
  /api/cli/wiki/sources/{documentId}/content:
    $ref: ./paths/sources.$documentId.content.yaml
  /api/cli/wiki/agents-md:
    $ref: ./paths/agents-md.yaml
  /api/agent/ls:
    $ref: ./paths/agent.ls.yaml
  /api/agent/cat:
    $ref: ./paths/agent.cat.yaml
  /api/agent/search:
    $ref: ./paths/agent.search.yaml
  /api/agent/sources:
    $ref: ./paths/agent.sources.yaml
  /api/agent/notes:
    $ref: ./paths/agent.notes.yaml
  /api/agent/log:
    $ref: ./paths/agent.log.yaml
  /api/agent/instructions:
    $ref: ./paths/agent.instructions.yaml
components:
  schemas:
    Snapshot:
      $ref: ./components/schemas/wiki.yaml#/Snapshot
    AgentInstructions:
      $ref: ./components/schemas/wiki.yaml#/AgentInstructions
    SyncRequest:
      $ref: ./components/schemas/wiki.yaml#/SyncRequest
    SyncResult:
      $ref: ./components/schemas/wiki.yaml#/SyncResult
    SourcesManifest:
      $ref: ./components/schemas/wiki.yaml#/SourcesManifest
    AgentLsEntry:
      $ref: ./components/schemas/agent.yaml#/AgentLsEntry
    AgentLsResult:
      $ref: ./components/schemas/agent.yaml#/AgentLsResult
    AgentCatResult:
      $ref: ./components/schemas/agent.yaml#/AgentCatResult
    AgentSearchMatch:
      $ref: ./components/schemas/agent.yaml#/AgentSearchMatch
    AgentSearchResult:
      $ref: ./components/schemas/agent.yaml#/AgentSearchResult
    AgentCreateSourceRequest:
      $ref: ./components/schemas/agent.yaml#/AgentCreateSourceRequest
    AgentSource:
      $ref: ./components/schemas/agent.yaml#/AgentSource
    AgentCreateNoteRequest:
      $ref: ./components/schemas/agent.yaml#/AgentCreateNoteRequest
    AgentNote:
      $ref: ./components/schemas/agent.yaml#/AgentNote
    AgentLogRequest:
      $ref: ./components/schemas/agent.yaml#/AgentLogRequest
    AgentInstructionsSlice:
      $ref: ./components/schemas/agent.yaml#/AgentInstructionsSlice
    Error:
      $ref: ./components/schemas/common.yaml#/Error
  responses:
    Unauthorized:
      $ref: ./components/responses/common.yaml#/Unauthorized
    NotFound:
      $ref: ./components/responses/common.yaml#/NotFound
    BadRequest:
      $ref: ./components/responses/common.yaml#/BadRequest
    Forbidden:
      $ref: ./components/responses/common.yaml#/Forbidden
  parameters:
    AttachmentId:
      $ref: ./components/parameters/common.yaml#/AttachmentId
  securitySchemes:
    BearerAuth:
      $ref: ./components/securitySchemes/auth.yaml#/BearerAuth
