openapi: 3.0.3
info:
  title: GDG Japan Wiki CLI API
  version: 1.0.0
  description: Token-authenticated Wiki snapshot, synchronization, and attachment APIs.
  license:
    name: Proprietary
    url: https://gdgs.jp
servers:
  - url: https://wiki.gdgs.jp
paths:
  /api/cli/wiki/snapshot:
    $ref: ./paths/snapshot.yaml
  /api/cli/wiki/sync:
    $ref: ./paths/sync.yaml
  /api/cli/wiki/attachments/{attachmentId}:
    $ref: ./paths/attachments.yaml
  /api/cli/wiki/sources:
    $ref: ./paths/sources.yaml
  /api/cli/wiki/sources/{documentId}/content:
    $ref: ./paths/sources.$documentId.content.yaml
  /api/cli/wiki/sources/ingested:
    $ref: ./paths/sources.ingested.yaml
  /api/cli/wiki/agents-md:
    $ref: ./paths/agents-md.yaml
components:
  schemas:
    Snapshot:
      $ref: ./components/schemas/wiki.yaml#/Snapshot
    SyncRequest:
      $ref: ./components/schemas/wiki.yaml#/SyncRequest
    SyncResult:
      $ref: ./components/schemas/wiki.yaml#/SyncResult
    SourcesManifest:
      $ref: ./components/schemas/wiki.yaml#/SourcesManifest
    IngestedRequest:
      $ref: ./components/schemas/wiki.yaml#/IngestedRequest
    IngestedResult:
      $ref: ./components/schemas/wiki.yaml#/IngestedResult
    Error:
      $ref: ./components/schemas/common.yaml#/Error
  responses:
    Unauthorized:
      $ref: ./components/responses/common.yaml#/Unauthorized
    NotFound:
      $ref: ./components/responses/common.yaml#/NotFound
    BadRequest:
      $ref: ./components/responses/common.yaml#/BadRequest
    Forbidden:
      $ref: ./components/responses/common.yaml#/Forbidden
  parameters:
    AttachmentId:
      $ref: ./components/parameters/common.yaml#/AttachmentId
  securitySchemes:
    BearerAuth:
      $ref: ./components/securitySchemes/auth.yaml#/BearerAuth
